<!-- Post, Page Content
================================================== -->
<div class="article-post">
    <!-- Toc if any -->
    {% if page.toc %}
    {% if page.beforetoc %}
        <p><em>{{page.beforetoc}}</em></p>
    {% endif %}
    <div class="toc mt-4 mb-4 lead">
        <h3 class="font-weight-bold">Summary</h3>
        {% include toc.html html=content %}
    </div>
    {% endif %}
    <!-- End Toc -->
    {% if page.podcast_link %}
        <audio
        controls
        src="{{ page.podcast_link }}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
    {% endif %}

    {{content}}
</div>