<div class="podcast-links">
    <hr />
    Puedes suscribirte al podcast usando los siguientes servicios:
    <ul>
    <li>Ivoox: <a href="https://www.ivoox.com/podcast-por-decir-algo-online_sq_f1921449_1.html">https://www.ivoox.com/podcast-por-decir-algo-online_sq_f1921449_1.html</a></li>
    <li>Spotify: <a href="https://open.spotify.com/show/3d5aYoB1tFaMltCXqzglSY">https://open.spotify.com/show/3d5aYoB1tFaMltCXqzglSY</a></li>
    <li>iTunes: <a href="https://podcasts.apple.com/es/podcast/por-decir-algo-online/id1517316118">https://podcasts.apple.com/es/podcast/por-decir-algo-online/id1517316118</a></li>
    <li>Spreaker: <a href="https://www.spreaker.com/show/por-decir-algo-online">https://www.spreaker.com/show/por-decir-algo-online</a></li>
    <li>CastBox: <a href="https://castbox.fm/channel/id2974514?country=es">https://castbox.fm/channel/id2974514?country=es</a></li>
    <li>Google Podcasts: <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9wb3JkZWNpcmFsZ28ub25saW5lL3BvZGNhc3QueG1s">https://podcasts.google.com/?feed=aHR0cHM6Ly9wb3JkZWNpcmFsZ28ub25saW5lL3BvZGNhc3QueG1s</a></li>
    </ul>
    O añadir el feed a tu aplicación favorita:
    <a href="https://pordeciralgo.online/podcast.xml">https://pordeciralgo.online/podcast.xml</a>
</div>