<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">

<link rel="alternate" type="application/rss+xml" title="Feed de Pordeciralgo.online" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"/>
<!-- Add podcast rss for the category page -->
{% if page.type and page.url and page.type == 'category' and page.url == '/category/podcast/'%}
<link rel="alternate" type="application/rss+xml" title="Feed del Podcast Pordeciralgo.online" href="{{ "/podcast.xml" | prepend: site.baseurl | prepend: site.url }}"/>
{% endif %}


<title>{{ page.title }} | {{site.name}}</title>

{% seo %}
    
<link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
{% comment %} Generates classes for the body tag depending on the page type {% endcomment %}
{% capture classes %}
{% if page.layout == 'post' %}
post 
{% if page.podcast_link %}
podcast
{% else %}
post
{% endif %}
{% endif %}
{% if page.layout == 'archive' %}
{{ page.type }} {{ page.title | downcase}}
{% endif %}
{% endcapture %}
<body class="{{ classes | strip_newlines }}">
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>

<!-- Begin Sidebar Navigation
================================================== -->

<div class="sidebar">    
</div>   
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <h3>Menu</h3>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}

        <li class="category-head"><a href="{{ site.baseurl }}/category/{{ category_name | downcase | slugize }}/">{{ category_name }}</a></li>
        {% endfor %}
    </ul>   
</nav>

{% include search-lunr.html %}


<!-- End Sidebar Navigation
================================================== -->

<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">

<div class="container">

    <!-- Site Logo/Name
    ================================================== -->
   
    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>  
   

    <!-- Site Tag
    ================================================== -->
    {% if page.url == '/' %}
        <p class="sitetag">
            {{ site.description }}
        </p>
    {% endif %}

    <!-- Content
    ================================================== -->
    <div class="main-content">
        {{ content }}
    </div>
   
</div>
<!-- Instagram
================================================== -->
<!-- {% include instagram.html feedUrl="https://zapier.com/engine/rss/7558323/instagramnew" %} -->

<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-left">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" title="This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a> 
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-right">    
                <a target="_blank" href="https://www.wowthemes.net/memoirs-free-jekyll-theme/">Memoirs Jekyll Theme</a> by WowThemes.net
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

</div> <!-- /.site-content -->

<!-- Scripts (if you need bootstrap.js, please add it yourself. I didn't use it for performance reasons, it was not needed in this theme)
================================================== -->

<script src="{{ site.baseurl }}/assets/js/prism.js"></script>

<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}

{% if page.layout == 'post' %}
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
{% endif %}

</body>
</html>
